<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    @RenderSection("styles", required: false)
    
</head>
<body>
    <div id="header">
        <div class="in_header">
            <h4> Step Shop</h4>
            <p>
                @Html.ActionLink("Главная", "Index", "Home", new { id = "" },
                    new { @class = "btn btn-warning", role = "button" })
                @Html.ActionLink("Items", "Index", "Items", new { id = "" },
                    new { @class = "btn btn-success", role = "button" })
            </p>
        </div>
    </div>

    <div id="content">
        <div class="in_content">
            @RenderBody()
        </div>
    </div>

    @*Проверка наличия Footer в текущем представлении*@
    @if (IsSectionDefined("Footer"))
    {
        @RenderSection("Footer");
        @*Визуализация необязательной секции*@
        @*@RenderSection(name: "Footer", required: false)*@
    }
    else
    {
        <div id="footer">
            <div class="in_footer">
                <h5> © 2017 Все права защищены.</h5>
            </div>
        </div>
    }
</body>
</html>
