@{
    Layout = null;
    var imagePath = "";
    if (@ViewBag.Item.Id != null)
    {
        imagePath = @"Content/Images/Items/Phones/" + @ViewBag.Item.Id+".jpg";
    }
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Datails</title>
</head>
<body>
    <div>
        
            <img src="~/@imagePath" alt="Sample Image"/>
            <table border="1">
                <tr>
                    <td>Name</td>
                    <td>@ViewBag.Item.Name</td>
                </tr>
                <tr>
                    <td>Discription</td>
                    <td>@ViewBag.Item.Description</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>@ViewBag.Item.CategoryType.Name</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>@ViewBag.Item.Price</td>
                </tr>
            </table>
            <h3>
                Отзывы
            </h3>

            <table border="1">
                <tr>
                    <th>Id</th>
                    <th>Author</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
                @foreach (var item2 in ViewBag.Coments)
                {
                    <tr>
                        <td>@item2.Id</td>
                        <td>@item2.Author</td>
                        <td>@item2.Message</td>
                        <td>@item2.Date </td>
                    </tr>
                }
            </table>


          <form method="post" action="/Item/AddComment">
                <input type="hidden" value="@ViewBag.Item.Id" name="ItemId" />
                <table>
                    <tr>
                        <td><p>Введите свое имя </p></td>
                        <td><input type="text" name="Author" /> </td>
                    </tr>
                    <tr>
                        <td><p>Введите свое сообщение </p></td>
                        <td><input type="text" name="Message" /> </td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Отправить" /> </td>
                        <td></td>
                    </tr>
                </table>
            </form>


       
    </div>
</body>
</html>
