@*View Details*@
@using StepShop.Models;
@model MyShopModel
@{
    ViewBag.Title = "Details";
}



            
<div>
    <h3>@Model.item.Name</h3>
    <img src="~/@Model.ImagePath" alt="Рисунок не загружен" />

    @Html.ActionLink("Изменить", "Change", "ChangeItem", new { id = Model.item.Id },
                new { @class = "btn btn-warning", role = "button" })

    <h4>Отзывы</h4>

    @using (Html.BeginForm("AddComment", "Item", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @*<input type="hidden" value="@Model.item.Id" name="ItemId" />*@
        @Html.HiddenFor( a => a.item.Id, new { id = "ItemId", Value = Model.item.Id })
        <table class="table table-condensed">
            <tr>
                <td><p>@Html.Label("Введите свое имя ")</p></td>
                <td>@Html.TextBox("Author", "Введите имя")</td>
            </tr>
            <tr>
                <td><p>@Html.Label("Ваш отзыв ")</p></td>
                <td>@Html.TextBox("Message", "...отзыв ")</td>
            </tr>
            <tr>
                <td><input type="submit" value="Отправить" class="btn btn-success" /> </td>
                <td></td>
            </tr>
        </table>
    }

    <table class="table table-condensed">
        <tr>
            <th>Id</th>
            <th>Author</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
        @foreach (var v in Model.item.Comments)
        {
            <tr>
                <td>@v.Id</td>
                <td>@v.Author</td>
                <td>@v.Message</td>
                <td>@v.Date</td>
            </tr>
        }
    </table>
</div>
