@*View Details*@
@using StepShop.Models;
@model MyShopModel
@{
    ViewBag.Title = "Details";
}

<h2>Detail Item</h2>            

<div>
    <h3>@Model.item.Name</h3>
    <div class="container">
        <table>
            <tr>
                <td>
                    <div>
                        <img  height="150" src="~/@Model.ImagePath" alt="Рисунок не загружен" />
                    </div>
                </td>

                <td>
                    <div style="padding-left:50px;">
                        @Html.DisplayFor(m=>m.item)

                        @Html.ActionLink("Изменить", "Edit", "Item", new { id = Model.item.Id },
                new { @class = "btn btn-warning", role = "button" })
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <br />
    <h4>Отзывы</h4>

    <div class="container">
        @using (Html.BeginForm("AddComment", "Item", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @*<input type="hidden" value="@Model.item.Id" name="ItemId" />*@
            @*@Html.HiddenFor( a => a.item.Id, new { @Value = @Model.item.Id })*@
            @Html.Hidden("ItemId", Model.item.Id)
            <table class="table table-condensed">
                <tr>
                    <td><p>@Html.Label("Введите свое имя ")</p></td>
                    <td>@Html.TextBox("Author", "Введите имя")</td>
                </tr>
                <tr>
                    <td><p>@Html.Label("Ваш отзыв ")</p></td>
                    <td>@Html.TextBox("Message", "...отзыв ")</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Отправить" class="btn btn-success" /> </td>
                    <td></td>
                </tr>
            </table>
        }
    </div>

    <table class="table table-condensed">
        <tr>
            <th>Id</th>
            <th>Author</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
        @foreach (var v in Model.item.Comments)
        {
            <tr>
                <td>@v.Id</td>
                <td>@v.Author</td>
                <td>@v.Message</td>
                <td>@v.Date</td>
            </tr>
        }
    </table>
</div>
