@{
    Layout = null;
    int i = (int)(ViewBag.Item.Comments.Count) - 1;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h3>@ViewBag.Item.Name</h3>
        <img src="~/Content/Images/Items/Phones/@(@ViewBag.Item.Id).jpg" alt="альтернативный текст" />
        <h4>Отзывы</h4>

        <form method="post" action="/Item/AddComment">
            <input type="hidden" value="@ViewBag.Item.Id" name="ItemId" />
            <table>
                <tr>
                    <td><p>Имя автора </p></td>
                    <td><input type="text" name="Author" /> </td>
                </tr>
                <tr>
                    <td><p>Введите комментарий :</p></td>
                    <td><input type="text" name="Message" /> </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Отправить" /> </td>
                    <td></td>
                </tr>
            </table>
        </form>

        <table border="1">
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Message</th>
                <th>Date</th>
            </tr>
            @for ( ; i>=0; i--)
            {
                <tr>
                    <td>@ViewBag.Item.Comments[i].Id</td>
                    <td>@ViewBag.Item.Comments[i].Author</td>
                    <td>@ViewBag.Item.Comments[i].Message</td>
                    <td>@ViewBag.Item.Comments[i].Date</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>