@*View Details*@
@using StepShop.Models;
@model MyShopModel
@{
    ViewBag.Title = "Details";
}



    <div>
        <h3>@Model.item.Name</h3>
        <img src="~/@Model.ImagePath" alt="альтернативный текст" />
        <h4>Отзывы</h4>

        <form class="form-group" method="post" action="/Item/AddComment">
            <input type="hidden" value="@Model.item.Id" name="ItemId" />
            <table>
                <tr>
                    <td><p>Имя автора </p></td>
                    <td><input type="text" name="Author" /> </td>
                </tr>
                <tr>
                    <td><p>Введите комментарий :</p></td>
                    <td><input type="text" name="Message" /> </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Отправить" /> </td>
                    <td></td>
                </tr>
            </table>
        </form>

        <table class="table table-condensed">
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Message</th>
                <th>Date</th>
            </tr>
            @foreach (var v in Model.item.Comments)
            {
                <tr>
                    <td>@v.Id</td>
                    <td>@v.Author</td>
                    <td>@v.Message</td>
                    <td>@v.Date</td>
                </tr>
            }
        </table>
    </div>
