
@{
    ViewBag.Title = "Details";
}

<div>
    <h1>Items</h1>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name Item</th>
            <th>Category Type</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        @foreach (var item in ViewBag.Items)
            {
            <tr>
                <td>@item.Id</td>
                <td>@Html.ActionLink(item.Name as string, "Details", "Item", new { item.Id }, null)</td>
                <td>@item.CategoryType.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
            </tr>
        }
    </table>
    <hr>
    @Html.ActionLink("Добавить", "Add", "AddItem", null,
                new { @class = "btn btn-success", role = "button" })
</div>
@section Footer
{
<div id="footer">
    <div class="in_footer">
        <h4>My cool footer</h4>
    </div>
</div>
}


