@using StepShop.Models
@model IEnumerable<ItemImage>
@{
    bool Flag = true;
}
@section styles
{
    @*<link href="@Url.Content("~/Content/css/Carousel.css")" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/css/Carousel.css" rel="stylesheet" />
}

<div id="testCarousel" class="carousel slide" data-ride="carousel">
    <!-- Слайды карусели -->
    <div class="carousel-inner">
        
        @foreach (var v in Model)
        {
            if (Flag)
            {
                Flag = false;
                <!-- Слайд 1 -->
                <div class="item active">
                    <h2> @v.Item.Name</h2>
                    <p> v.Name - @v.Name</p>
                    <button class="btn btn-primary btn-lg">Какая-то кнопка</button>
                </div>
                continue;
            }
            <!-- Слайд ..n.. -->
            <div class="item">
                <h2> @v.Item.Name</h2>
                <p> v.Name - @v.Name</p>
                <button class="btn btn-success btn-lg">Какая-то кнопка</button>
            </div>
        }

    </div>

    <!-- Навигация карусели (следующий или предыдущий слайд) -->
    <!-- Кнопка, переход на предыдущий слайд с помощью атрибута data-slide="prev" -->
    <a class="left carousel-control" href="#testCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <!-- Кнопка, переход на следующий слайд с помощью атрибута data-slide="next" -->
    <a class="right carousel-control" href="#testCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>